 <img id='cardQrCode_bg' src='http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png' style='height: 255px;width:405px;position: absolute;top:0px;left:0px;z-index:1'/>
 <!-- 
 <img id='cardQrCode' src='http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png' style='height:95px;width:95px;position: absolute;top:40px;left:5px;z-index:2'/>
 -->
 <img id='signature' src='http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png' style='height:30px;width:60px;position: absolute;top:165px;left:310px;z-index:2'/>
 <h4 item='true' align="center" id='l_director' style='width:100px;font-family:font_freedb;font-size:4pt;position: absolute; top:190px; left: 290px; z-index:2'>{l_director}</h4>