<h4 item='true' id='l_licenseNo' style='font-family:font_freedb;font-size:15pt;position: absolute; top:185px; left: 310px; z-index:2'>{l_licenseNo}</h4>

<h4 item='true' id='l_traderOwnerName' style='font-family:font_freedb;font-size:15pt;position: absolute; top:80px; left: 50px; z-index:2'>{l_traderOwnerName}</h4>

<h4 item='true' id='l_traderOwnerNameEn' style='font-family:font_freedb;font-size:15pt;position: absolute; top:120px; left: 50px; z-index:2'>{l_traderOwnerNameEn}</h4>

<h4 item='true' id='l_identityNo' style='font-family:font_freedb;font-size:15pt;position: absolute; top:207px; left: 80px; z-index:2'>{l_identityNo}</h4>

<h4 item='true' id='l_effectiveDate' style='font-family:font_freedb;font-size:15pt;position: absolute; top:185px; left: 30px; z-index:-1'>{l_effectiveDate}</h4>

<h4 item='true' id='l_expireDate' style='font-family:font_freedb;font-size:15pt;position: absolute; top:185px; left: 20px; z-index:2'>{l_expireDate}</h4>

<h4 item='true' id='l_traderArea' style='font-family:font_freedb;font-size:15pt;position: absolute; top:155px; left: 50px; z-index:2'>{l_traderArea}</h4> 

<img item='true' id='myphoto' style='height:155px;width:130px;top:56px;left:275px;z-index:2;position:absolute;' src='http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png' />


<img src='{imgPath}{traderCategory}' style='height: 260px;width:405px;position: absolute;top:0px;left:0px;z-index:1'/>
