<h4 item='true' id='l_licenseNo' style='font-family:psl-kittithada;font-size:15pt;position: absolute; top:35px; left: 90px; z-index:2;color:red'>{l_licenseNo}</h4>
<h4 item='true' id='l_traderOwnerName' style='font-family:psl-kittithada;font-size:15pt;position: absolute; top:75px; left: 210px; z-index:2'>{l_traderOwnerName}</h4>
<h4 item='true' id='l_traderOwnerNameEn' style='font-family:psl-kittithada;font-size:15pt;position: absolute; top:100px; left: 210px; z-index:2'>{l_traderOwnerNameEn}</h4>
 <h4 item='true' id='l_effectiveDate' style='font-family:psl-kittithada;font-size:15pt;position: absolute; top:139px; left: 290px; z-index:2;color:red'>{l_effectiveDate}</h4>

<img id='myphoto' style='height:155px;width:130px;top:85px;left:10px;z-index:2;position:absolute;' src='http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/120px-Red.svg.png' />


<img src='{imgPath}L' style='height: 255px;width:405px;position: absolute;top:0px;left:0px;z-index:1'/>

<img  id='signature' style='height:30px;width:90px;top:190px;left:290px;z-index:2;position:absolute;' src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/3by2white.svg/150px-3by2white.svg.png' />
<!-- 
<h4 item='true' align="center" id='l_director' style='border-style: solid;font-family:psl-kittithada;width:120px;font-family:font_freedb;font-size:8pt;position: absolute; top:210px; left: 270px; z-index:2'>{l_director}</h4>
 -->
<h4 item='true' align="center" id='l_director' style='font-family:psl-kittithada;width:120px;font-size:8pt;position: absolute; top:210px; left: 273px; z-index:2'>{l_director}</h4>