

#instructions ul li {
    list-style-type:disc;
    list-style-position:outside;
    font-size:13px;
    margin:0px 0px 0px 10px;
}

/* Icons */
.ux-notification-icon-information {
    background-image: url('../images/xsmall/like.png');
}

.ux-notification-icon-error {
    background-image: url('../images/xsmall/page_warning.png');
}


/* Using standard theme */
.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    width: 200px;
}


/* Custom styling */
.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
    width: 200px;
    background-color: transparent;
    border: 0px solid white;
}
    

.icon-delete-medium {
    background-image: url(../images/medium/delete_notes.png) !important;
}
.icon-delete-small {
    background-image: url(../images/small/delete_notes.png) !important;
}
.icon-delete-xsmall {
    background-image: url(../images/xsmall/delete_notes.png) !important;
}
.icon-edit-medium {
    background-image: url(../images/medium/edit_page.png) !important;
}
.icon-edit-small {
    background-image: url(../images/small/edit_page.png) !important;
}
.icon-edit-xsmall {
    background-image: url(../images/xsmall/edit_page.png) !important;
}
.icon-send-medium {
    background-image: url(../images/medium/send_mail.png) !important;
}
.icon-send-small {
    background-image: url(../images/small/send_mail.png) !important;
}
.icon-send-xsmall {
    background-image: url(../images/xsmall/send_mail.png) !important;
}
.icon-comment-medium {
    background-image: url(../images/medium/user_comment.png) !important;
}
.icon-comment-small {
    background-image: url(../images/small/user_comment.png) !important;
}
.icon-comment-xsmall {
    background-image: url(../images/xsmall/user_comment.png) !important;
}
.icon-comment-xsmall-red {
    background-image: url(../images/xsmall/user_comment_red.png) !important;
}
.icon-checked-xsmall {
    background-image: url(../images/xsmall/checked.png) !important;
}
.icon-page_warning-xsmall {
    background-image: url(../images/xsmall/page_warning.png) !important;
}
.icon-wait-xsmall {
    background-image: url(../images/xsmall/speedometer.png) !important;
}
.icon-guarantee-xsmall {
    background-image: url(../images/xsmall/sun_clouds_thunder.png) !important;
}
.icon-savefee-xsmall {
    background-image: url(../images/xsmall/progress.png) !important;
}
/*sek add*/
.icon-adduser-xsmall {
    background-image: url(../images/xsmall/add_user.png) !important;
}
.icon-upload-xsmall {
    background-image: url(../images/xsmall/upload_page.png) !important;
}
.icon-guaranteesave-xsmall {
    background-image: url(../images/xsmall/prize_winner.png) !important;
}
.icon-checked-xsmall {
    background-image: url(../images/xsmall/checked.png) !important;
}
.icon-imgview-xsmall {
    background-image: url(../images/xsmall/download_page.png) !important;
}










