

#instructions ul li {
    list-style-type:disc;
    list-style-position:outside;
    font-size:13px;
    margin:0px 0px 0px 10px;
}

/* Icons */
.ux-notification-icon-information {
    background-image: url('../images/xsmall/like.png');
}

.ux-notification-icon-error {
    background-image: url('../images/xsmall/page_warning.png');
}


/* Using standard theme */
.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    width: 200px;
}

#msg-ct {
    position:absolute;
    left:680px;
    top:17px;
    width:217px;
    height:22px;
}

#msg {
    width:217px;
    height:22px;
    background-image:url(../images/msg-bg.png);
    color:#777;
    font-size:11px;
    cursor:pointer;
    visibility:hidden;
}
#msg-inner {
    padding:5px 10px 0;
    zoom:1;
    line-height:12px;
    text-align:center;
}
.msg-over {
    color:#789030 !important;
}

#msg img {
    width:19px;
    height:19px;
}

/**
 * Ext.App#setAlert message-box styles.
 */
.app-msg .x-box-mc {
    text-align: left;
}
.x-icon-text { background-repeat: no-repeat; padding-left: 20px; }
.icon-status-ok { background-image: url(../images/accept.png) !important; }
.icon-status-error { background-image: url(../images/error.png) !important; }
.icon-status-notice { background-image: url(../images/information.png) !important; }


/* Custom styling */
.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
    width: 200px;
    background-color: transparent;
    border: 0px solid white;
}
.tour-tour-fg-color-blue {
  color: #2d89ef !important;
}
.tour-fg-color-blueLight {
  color: #eff4ff !important;
}
.tour-fg-color-blueDark {
  color: #2b5797 !important;
}
.tour-fg-color-green {
  color: #00a300 !important;
}
.tour-fg-color-greenLight {
  color: #99b433 !important;
}
.tour-fg-color-greenDark {
  color: #1e7145 !important;
}
.tour-fg-color-red {
  color: #b91d47 !important;
}
.tour-fg-color-yellow {
  color: #ffc40d !important;
}
.tour-fg-color-orange {
  color: #e3a21a !important;
}
.tour-fg-color-orangeDark {
  color: #da532c !important;
}
.tour-fg-color-pink {
  color: #9f00a7 !important;
}
.tour-fg-color-pinkDark {
  color: #7e3878 !important;
}
.tour-fg-color-purple {
  color: #603cba !important;
}
.tour-fg-color-darken {
  color: #1d1d1d !important;
}
.tour-fg-color-lighten {
  color: #d5e7ec !important;
}
.tour-fg-color-white {
  color: #ffffff !important;
}
.tour-fg-color-grayDark {
  color: #525252 !important;
}
.tour-fg-color-magenta {
  color: #ff0097 !important;
}
.tour-fg-color-teal {
  color: #00aba9 !important;
}
.tour-fg-color-redLight {
  color: #ee1111 !important;
}    



.icon-delete-xsmall {
    background-image: url(../images/xsmall/delete_notes.png) !important;
}
.icon-edit-medium {
    background-image: url(../images/medium/edit_page.png) !important;
}
.icon-edit-small {
    background-image: url(../images/small/edit_page.png) !important;
}
.icon-edit-xsmall {
    background-image: url(../images/xsmall/edit_page.png) !important;
}
.icon-send-medium {
    background-image: url(../images/medium/send_mail.png) !important;
}
.icon-send-small {
    background-image: url(../images/small/send_mail.png) !important;
}
.icon-send-xsmall {
    background-image: url(../images/xsmall/send_mail.png) !important;
}
.icon-comment-medium {
    background-image: url(../images/medium/user_comment.png) !important;
}
.icon-comment-small {
    background-image: url(../images/small/user_comment.png) !important;
}
.icon-comment-xsmall {
    background-image: url(../images/xsmall/user_comment.png) !important;
}
.icon-comment-xsmall-red {
    background-image: url(../images/xsmall/user_comment_red.png) !important;
}
.icon-checked-xsmall {
    background-image: url(../images/xsmall/checked.png) !important;
}
.icon-page_warning-xsmall {
    background-image: url(../images/xsmall/page_warning.png) !important;
}
.icon-wait-xsmall {
    background-image: url(../images/xsmall/speedometer.png) !important;
}
.icon-guarantee-xsmall {
    background-image: url(../images/xsmall/sun_clouds_thunder.png) !important;
}
.icon-savefee-xsmall {
    background-image: url(../images/xsmall/progress.png) !important;
}
/*sek add*/
.icon-adduser-xsmall {
    background-image: url(../images/xsmall/add_user.png) !important;
}
.icon-upload-xsmall {
    background-image: url(../images/xsmall/upload_page.png) !important;
}
.icon-guaranteesave-xsmall {
    background-image: url(../images/xsmall/prize_winner.png) !important;
}
.icon-checked-xsmall {
    background-image: url(../images/xsmall/checked.png) !important;
}
.icon-notes-xsmall {
    background-image: url(../images/xsmall/notes.png) !important;
}
.icon-delete-page-xsmall {
    background-image: url(../images/xsmall/delete_page.png) !important;
}
.icon-security-xsmall {
    background-image: url(../images/xsmall/security_warning.png) !important;
}
.icon-gear-xsmall {
    background-image: url(../images/xsmall/gears.png) !important;
}
.icon-printword-xsmall {
    background-image: url(../images/download-icons.png) !important;
}
.north-region{
  background:#074e7c;background:-webkit-gradient(linear,left top,left bottom,from(#074e7c),to(#095f93));background:-moz-linear-gradient(top,#074e7c,#095f93)
}
.icon-collapse24-xsmall {
    background-image: url(../images/xsmall/collapse24-black.png) !important;
    width:10px;
    height:10px;
}
.icon-expand24-xsmall {
    background-image: url(../images/xsmall/expand24-black.png) !important;
    width:10px;
    height:10px;
}
.icon-correct-xsmall {
    background-image: url(../images/xsmall/approve_notes.png) !important;
}
td.wrap-text div {
    white-space: normal;
}
.icon-feepayment-xsmall {
    background-image: url(../images/xsmall/credit_card.png) !important;
}

.ux-tourism-icon-grid {
   background-image:url(../images/icons/grid.png) !important;
}
.ux-tourism-icon-add {
    background-image:url(../images/icons/add.gif) !important;
}
.ux-tourism-icon-option {
    background-image:url(../images/icons/plugin.gif) !important;
}
.ux-tourism-icon-remove {
    background-image:url(../images/icons/delete.gif) !important;
}
.ux-tourism-icon-save {
    background-image:url(../images/icons/save.gif) !important;
}
.x-grid-rowbody p {
    margin: .5em 0;
}
.ux-disabled-record {
 background:#ffe2e2 !important;
}

.online-block .x-grid-td
{
 background:#ffd273 !important;
}


.icon-search-user-xsmall {
    background-image: url(../images/xsmall/search_user_icon.png) !important;
}

.margin-left-15{
	margin-left:15px !important;
}





